body{
    font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
    background-color: rgb(255, 0, 0);
}
h1,h3{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}